$dock-bg: linear-gradient(180deg, #3a3d45 0%, #000000 100%);

body{
    overflow-y:hidden;
}

.container{
    display:flex;
    flex-direction: column;
    b{
        font-family:'bold';
    }
    h1, h2, h3, span{
        font-style: normal;
        text-align: center;
        font-family: ku;
        font-size:3rem;
    }
    h2 {
        font-size:2.5rem;
        color:#fff;
        font-family: kl;
    }
    h2 span{
      font-size:4.5rem;
      font-family: ku;
    }
    h3 {
        font-size:2.75rem;
    }
    h4{
      font-family: kl;
      font-size:1.35rem;
      color:$darkred;
      }
    p, .text{
        font-family:kl;
        font-size:1.25rem;
    }
    a{
      font-family: kl;
    }
    .err{
        position: absolute;
        top:27.5rem;
        z-index: 111111; 
        background:#000;
        padding:1.5rem 2rem;
        border-radius: .75rem;
        box-shadow: 0 0 20px 8px rgba(242, 209, 159, 0.7);
      h1{
        font-family: kl;
        font-weight: 700;
        font-size:1.5rem !important;
        width: 100%;
        color:#fff;
      }
      }
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
      .logo {
        width: 20rem;
        margin-top:2rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 2rem;
        font-weight: 100;
        font-family: ku;
        background: linear-gradient(0deg, rgb(163, 163, 163) 21%, rgba(255, 255, 255, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        width:60%;
      }
      p:nth-child(3),
      p:nth-child(5){
        font-family: kl;
        font-weight: 700; 
        font-size:1.15rem;
        margin:1rem auto;
        width:65%;
      }
      p:nth-child(5){
        cursor: pointer;
      }
}

.modal-content {
  background: #000;
  margin:0 17.5rem;
  padding:1.5rem 1.5rem;
  border-radius: .75rem;
  text-align: center;
  width: 100%;
  color: #fff;
  box-shadow: 0px 0px 50px 0px rgba($orange, 0.9);

  form {
  .input-wrapper {
    position: relative;
    width: 36.25rem;
  }
  input.email {
    width: 100%;
    border: .15rem solid #212121;
    border-radius: .75rem;
    font-size: 1.5rem;
    box-sizing: border-box;
    padding:1rem 1.5rem;
    font-family: ku;
    font-weight: 100;       
    background: #fff;
    color: #000;

    &:focus {
      outline: none;
      box-shadow: 0 0 20px 8px rgba(242, 209, 159, 0.7);
      border-color: #02090A;
      caret-color: #02090A;
    }
  }
  altcha-widget {
      color:#fafafa;
  }
  button.submit {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0 2.65rem;
    margin: .35rem; 
    color: #fff;
    border: none;
    border-radius: .75rem;
    font-size: 1.5rem;
    font-family: ku;
    font-weight: 100;
    background: linear-gradient(0deg,#000 21%, rgba(255, 255, 255, 1) 100%);
    cursor: pointer;
      &:hover {
          transform: none;          
          background: radial-gradient(circle at 30% 107%, #ffdc80 0%, #ffa72b 5%, #ff9603 20%, #f56040 40%, #fd1d1d 50%, #e1306c 60%, #c13584 70%, #833ab4 85%, #405de6 100%);
          box-shadow: 0 0 20px 8px rgba(242, 209, 159, 0.7);
        }
  }
}
}

    .header{
      display: flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(180deg,#fff 82.5%, #000000 100%);
      width: 100%;
      height: 100vh;
      padding-left:1.5rem;
      padding-right:1.5rem;
      -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
      mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative; 
  width: 100%;
  margin: 0; 
  margin-bottom: 1.5rem;
  padding-top:3rem;
  .logo {
    width: 4rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
  }

  .info {
    width: 2rem;
    filter: invert(1);
    margin-right:0;
    &:hover {
      transform: rotate(180deg);
    }
  }
}
      h1{
        font-size:2.5rem;
      }
      h3{
        font-size:1.25rem;
      }
      h3 a {          
          font-family: kl;
          text-decoration: underline !important;
          color: #000;
          font-size:1.25rem;
      }

      .headerimg{
        margin: 0;
        width: 47.5%;
        margin-top: 3.75rem;
      }
    .outer-header{
      display: flex; 
      position: sticky;
      margin-top:2.75rem; 

      .inner-header {
        display: flex;
        align-items: center;
        width: 100%;
        background: $dock-bg;
        border: 1px solid #444;
        border-radius: .75rem;
        padding: .75rem 1.5rem .75rem 1.5rem;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
        justify-content: space-between;
    h2 {
      color: #fff;
      font-size: 2.5rem;
      font-weight: 100;
      font-family: ku;
      margin: 0;
      flex-shrink: 0;
    }
    
.social {
  display: flex;
  gap: .75rem;
  margin-right: auto; 
  margin-right: 0;
a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
  transition: all 0.3s ease;
  background: linear-gradient(0deg, rgb(163, 163, 163) 21%, rgba(255, 255, 255, 1) 100%);

  img {
    width: 3rem;
    transition: filter 0.3s ease;
    filter: invert(1);
  }
  &:hover {
    background: #000000; 
    img {
      filter: invert(0);
    }
  }
}
.x{
  &:hover {
    background: #000000; 
  }
}
.li{
  &:hover {
    background: #1E66C2; 
  }
}
.yt{
  &:hover {
    background: #FF0034; 
  }
}
.ig{
  &:hover { 
background: radial-gradient(circle at 30% 107%, #ffdc80 0%, #ffa72b 5%, #ff9603 20%, #f56040 40%, #fd1d1d 50%, #e1306c 60%, #c13584 70%, #833ab4 85%, #405de6 100%);
}
} 
}
}

  .inner-header2{
    display:flex;
    margin-left: 1.5rem;
      a {
      border-radius: .75rem;
      padding: 1.2rem 3rem;
      font-size: 2.5rem;
      font-family: ku;
      font-weight: 100;
      color:#fff;
      transition: all 0.3s ease;
      background: linear-gradient(0deg,#000 21%, rgba(255, 255, 255, 1) 100%);

      &:hover {
          transform: none;
          background: radial-gradient(circle at 30% 107%, #ffdc80 0%, #ffa72b 5%, #ff9603 20%, #f56040 40%, #fd1d1d 50%, #e1306c 60%, #c13584 70%, #833ab4 85%, #405de6 100%);
          box-shadow: 0 0 20px 8px rgba(242, 209, 159, 0.7);
        }
  }
}
}
}
}

@media (min-width:892px) and (max-width: 1300px) {
    .header{
     .nav{
        margin-bottom:2rem;
        padding-top: 1.35rem;
      .logo {
        width:3.25rem;
      }
      .info{
          margin-right:0rem;
      }
     }
      p {
        &:nth-child(3),
        &:nth-child(4){
          font-size:1rem;
        }
      }
      h1{
        margin:2.5rem auto 2.5rem auto;
        line-height: 0;
      }
      h3{
        margin:0rem auto;
      }
}
}

@media (max-width: 891px) {
.container{
    .modal-overlay {        
      p {
        font-size: 1.1rem;
        width:75%;
      }
      p:nth-child(3),
      p:nth-child(5){
        font-size: 1.1rem;
        width:100%;
      }
}

.modal-content {
    margin:0 1.5rem;

  form {
  margin-top:.75rem;
  .input-wrapper {
    position: relative;
    width: 22rem;
  }
    input.email{
      font-size: 1.25rem;
    }
    button.submit {
    padding: 0 1rem;
    font-size: 1.25rem;
  }
}
}
    .header{
     .nav{
        margin-bottom:2rem;
        padding-top: 1.35rem;
      .logo {
        width:3.25rem;
      }
      .info{
          margin-right:0rem;
      }
     }
      h1{
        font-size:2rem;
        margin-bottom: .5rem;
      }
      h3{
        font-size:1rem;
      }
      h3 a {
        font-size:1rem;
      }
      .headerimg{
        width: 100%;
        margin-top: 3rem;
      }
    .outer-header{
      flex-direction: column;
      margin-top: 2.25rem;
      .inner-header {
        .social {
          margin-right: auto; 
          margin-right: auto;
        }
      }
  .inner-header2{
    margin-left: auto;
    margin-top:.75rem;
      a {
      padding: 1.2rem 4.15rem;
  }
}
}
}
}
}