/* Error: Undefined variable.
 *    ,
 * 69 |         background: $dock-bg;
 *    |                     ^^^^^^^^
 *    '
 *   app/style/scss/info.scss 69:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 69 \2502          background: $dock-bg;\a    \2502                      ^^^^^^^^\a    \2575 \a   app/style/scss/info.scss 69:21  root stylesheet";
}
