.footer {
  display: flex;
  position: fixed;
  bottom: .25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; 
  padding: .75rem 1.25rem;
  width: 25rem;
  border-radius: .5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  a {
    font-size: 1rem;
    color: #000;
  }
}

@media (max-width: 495px) {
.footer {
  width:21rem;
  margin-bottom: 2rem;
    a {
    font-size: .875rem;
  }
}
}