@import '../global/Fonts.scss',
'../global/Colors.scss',
'../global/Buttons.scss',
'../scss/index.scss',
'../scss/book.scss',
'../scss/manager.scss',
'../scss/about.scss',
'../scss/media-kit.scss',
'../scss/submit-post.scss',
'../scss/feeds.scss',
'../scss/feed-detail.scss',
'../scss/subscribe.scss',
'../scss/policies/privacy.scss',
'../scss/components/altcha.scss';

* {
  box-sizing: border-box;
  margin:auto;
} 
html {
  scroll-behavior: auto;
}
html,
body {
  margin: auto;
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  overflow-y: auto;
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* IE and legacy Edge */

  &::-webkit-scrollbar {     /* Chrome, Safari, Opera, modern Edge */
    display: none;
  }
}
body {
  overflow-x: hidden;
}
main{
  padding:0;
  margin:0 auto;
}
img {
  display: block;
  width: 100%;
  height: auto;
  outline: none;
  border: none;
}
a {
  text-decoration: none;
  font-family: 'book';
}

h1 {
  font-size: 1.35rem;
  font-family: 'book';
  font-weight: 100;
  color: $black;
  text-decoration: none;
  line-height: normal;
}
h2 {
  font-size: 0.8rem;
  font-family: medium;
  font-weight: 100;
  color: $black;
  text-decoration: none;
  line-height: normal;
}
h3,
h4,
h5,
h6 {
  font-family: 'medium';
  color: $black;
  line-height: normal;
}
p {
  font-family: 'book';
  font-size: 1.1rem;
  color: $black;
  line-height: normal;
}
li {
  font-family: 'book';
  font-size: 1.1rem;
  color: $black;
  line-height: normal;
}
span {
  font-family: bold;
  color: $black;
  line-height: normal;
}
button {
  font-size: 0.8rem;
  font-family: medium;
  font-weight: 100;
  line-height: normal;
}