@use '../global/Fonts.scss';
@use '../global/Colors.scss';
@use '../scss/index.scss';
@use '../scss/book.scss';
@use '../scss/partner.scss';
@use '../scss/about.scss';
@use '../scss/media-kit.scss';
@use '../scss/submit-post.scss';
@use '../scss/feeds.scss';
@use '../scss/feed-detail.scss';
@use '../scss/subscribe.scss';
@use '../scss/policies/privacy.scss';
@use '../scss/components/altcha.scss';

* {
  box-sizing: border-box;
  margin:auto;
} 
html {
  scroll-behavior: auto;
}
html,
body {
  margin: auto;
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  overflow-y: auto;
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* IE and legacy Edge */

  &::-webkit-scrollbar {     /* Chrome, Safari, Opera, modern Edge */
    display: none;
  }
}
body {
  overflow-x: hidden;
}
main{
  padding:0;
  margin:0 auto;
}
img {
  display: block;
  width: 100%;
  height: auto;
  outline: none;
  border: none;
}
a {
  text-decoration: none;
  font-family: 'book';
}

h1 {
  font-size: 1.35rem;
  font-family: 'book';
  font-weight: 100;
  color: Colors.$black;
  text-decoration: none;
  line-height: normal;
}
h2 {
  font-size: 0.8rem;
  font-family: medium;
  font-weight: 100;
  color: Colors.$black;
  text-decoration: none;
  line-height: normal;
}
h3,
h4,
h5,
h6 {
  font-family: 'medium';
  color: Colors.$black;
  line-height: normal;
}
p {
  font-family: 'book';
  font-size: 1.1rem;
  color: Colors.$black;
  line-height: normal;
}
li {
  font-family: 'book';
  font-size: 1.1rem;
  color: Colors.$black;
  line-height: normal;
}
span {
  font-family: bold;
  color: Colors.$black;
  line-height: normal;
}
button {
  font-size: 0.8rem;
  font-family: medium;
  font-weight: 100;
  line-height: normal;
}